body {
    background-image: url(https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiG_9Ppn-LYAhUF3mMKHajxCygQjRx6BAgAEAY&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fblack-background&psig=AOvVaw0qKstaedhLNC4AoYV7FlXJ&ust=1516390196454575);
    font-family: sans-serif;
    background-repeat: repeat;
    text-align: center;
    color: white;
    vertical-align: top;
}