body {
    background: rgba(209, 198, 198, 1);
}

#container1 {
    display: none;
}

#container2{
    position: relative;
    top: 200px;
}

#container3{
    position: relative;
    top: 200px;
}
#container4{
    position: relative;
    top: 200px;
}
#container5{
    position: relative;
    top: 200px;;
}
#container6{
    position: relative;
    top: 200px;
}